.catalogo {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 50px 20px;
}

@media only screen and (max-device-width: 1024px) {
  .web-catalog {
    display: none;
  }
}

@media only screen and (min-device-width: 1024px) { 
  .mobile-catalog {
    display: none;
  }
}