.catalogo {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 50px;

  .custom-inquiry {
    margin: 30px 0 0 30px;
  }
}

@media (max-width: 1335px) {
  .catalogo {
    padding-left: 10px;
    padding-right: 10px;
  }
}
