.form-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;;
  width: 70%;
  display: flex;
  justify-content: center;
  .form-content {
    width: 600px;
    padding: 60px;
    border-radius: 15px;
    flex-direction: column;
    border: solid 1px black;
    box-shadow: 10px 5px 5px black;
    .title {
      margin: 10px 0;
    }
  }
}
//Phones
@media only screen and (max-width: 700px) {
  .form-container {
    width: 100%;
    margin-left: 0;
    .form-content {
      width: 380px;
      padding: 20px;
      margin-bottom: 20px;
    }
  }
}
//Tablets
@media only screen and (min-width: 700px) and (max-width: 1050px) {
  .form-container {
    width: 66%;
  }
}


$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.group {
  position: relative;
  margin: 45px 0;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 95%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  .file {
    border-bottom: 0;
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
