.catalog-list {
  max-width: 1300px;
}

.description-title {
  margin-top: 30px;
}

.description-title,
.description-body,
.flyer,
.inquiry-button {
  margin-left: 50px;
}

.separate {
  margin-bottom: 30px;
}

.catalogo-icon {
  color: #d9534f;
}
