.content-sign-up {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  .sign-up {
    width: 600px;
    padding: 60px;
    border-radius: 15px;
    flex-direction: column;
    border: solid 1px black;
    box-shadow: 10px 5px 5px black;
    .title {
      margin: 10px 0;
    }
  }
}
//Phones
@media only screen and (max-width: 700px) {
  .content-sign-up {
    width: 100%;
    .sign-up {
      width: 380px;
      padding: 20px;
      margin-bottom: 20px;
    }
  }
}
//Tablets
@media only screen and (min-width: 700px) and (max-width: 1050px) {
  .content-sign-up {
    width: 100%;
  }
}
