.logo:hover {
  cursor: pointer;
}

.toolbar {
  @media only screen and (max-device-width: 1024px) {
    display: none;
  }
}

.buttons {
  @media only screen and (max-device-width: 1024px) {
    Button {
      display: block;
    }
  }
}

.drawer {
  @media only screen and (min-device-width: 1024px) {
    display: none;
  }
}