.card-orange, .card-gray {
  border-radius: 30px;
  padding: 10%;
  width: 80%;
  height: 300px;
}

.card-orange {
  background-color: rgb(245, 95, 40);
}

.card-gray {
  background-color: #5D5B5B;
}

.white-text {
  color: white;
}