.button-container {
  padding: 10px;
  
  .red {
    background-color: #d44844;
  }
  
  .green {
    background-color: rgb(103, 172, 91);
  }
  
  .grey {
    background-color: #5D5B5B;
  }
  
  .blue {
    background-color: #428bca;
  }
  
  .orange {
    background-color: #e0663b;
  }

  .white-text {
    color: white;
  }
}

