.solution-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .accordion {
    width: 84%;
    min-height: 80px;
    margin-right: 2%;

    .solution-name {
      width: 80%;
    }
    .price {
      width: 20%;
    }
  }

  .action-buttons {
    width: 14%;
    .modify {
      width: 45%;
      background-color: rgb(104, 184, 213);
      margin-right: 10%;
    }
    .delete {
      width: 45%;
      background-color: rgb(226, 82, 65);
    }
  }
}
