body {
  font-family: Arial;
}

.homepage {
  width: 100%;
  padding: 40px 0 40px 0;
  background-color: white;
}

.side-by-side {
  display: flex;
  flex-direction: column;
}

.landing {
  text-align: center;
  padding-top: 50px;
}

.catalogo-button {
  margin-top: 40px;
  text-align: center;
}
